.acorn {
        background-image:url(../img/icons/icAcorn.svg);
}

.apple {
        background-image:url(../img/icons/icApple.svg);
}

.awake {
        background-image:url(../img/icons/icAwake.svg);
}

.awesome {
        background-image:url(../img/icons/icAwesome.svg);
}
.barn {
        background-image:url(../img/icons/icBarn.svg);
}

.bird {
        background-image:url(../img/icons/icBird.svg);
}

.book {
        background-image:url(../img/icons/icBook.svg);
}

.eagle {
        background-image:url(../img/icons/icEagle.svg);
}

.ear {
        background-image:url(../img/icons/icEar.svg);
}

.egg {
        background-image:url(../img/icons/icEgg.svg);
}

.edge {
        background-image:url(../img/icons/icEdge.svg);
}

.fork {
        background-image:url(../img/icons/icFork.svg);
}

.girl {
        background-image:url(../img/icons/icGirl.svg);
}

.ice {
        background-image:url(../img/icons/icIceCube.svg);
}

.icicle {
        background-image:url(../img/icons/icIcicle.svg);
}

.itch {
        background-image:url(../img/icons/icItch.svg);
}
.octopus {
     background-image:url(../img/icons/icOctopus.svg);
}
.oink {
     background-image:url(../img/icons/icOink.svg);
}
.ooze {
     background-image:url(../img/icons/icOoze.svg);
}

.open {
     background-image:url(../img/icons/icOpen.svg);
}

.ostrich {
     background-image:url(../img/icons/icOstrich.svg);
}

.ouch {
     background-image:url(../img/icons/icOuch.svg);
}

.umbrella {
     background-image:url(../img/icons/icUmbrella.svg);
}

.unicorn {
     background-image:url(../img/icons/icUnicorn.svg);
}

.up {
     background-image:url(../img/icons/icUp.svg);
}
.icE_uppercase {
        background-image:url(../img/icons/icE_uppercase.svg);
}

.icI_uppercase {
        background-image:url(../img/icons/icI_uppercase.svg);
}

.icO_uppercase {
        background-image:url(../img/icons/icO_uppercase.svg);
}

.icU_uppercase {
        background-image:url(../img/icons/icU_uppercase.svg);
}

.bear  {
        background-image:url(../img/icons/icBear.svg);
}
.cat {
        background-image:url(../img/icons/icCat2.svg);
} 
.duck {
        background-image:url(../img/icons/icDuck.svg);
}  
.fish {
        background-image:url(../img/icons/icFish.svg);
} 
.goat {
        background-image:url(../img/icons/icGoat.svg);
} 
.hammer {
        background-image:url(../img/icons/icHammer.svg);
}  
.lion {
        background-image:url(../img/icons/icLion.svg);
} 
.monkey {
        background-image:url(../img/icons/icMonkey.svg);
}  
.nest {
        background-image:url(../img/icons/icNest.svg);
} 
.popcorn {
        background-image:url(../img/icons/icPopcorn.svg);
}  
.queen {
        background-image:url(../img/icons/icQueen.svg);
}  
.rabbit {
        background-image:url(../img/icons/icRabbit.svg);
}  
.soap {
        background-image:url(../img/icons/icSoap.svg);
}  
.toothbrush {
        background-image:url(../img/icons/icToothbrush.svg);
} 
.violin {
        background-image:url(../img/icons/icViolin.svg);
}  
.wave {
        background-image:url(../img/icons/icWave.svg);
}  
.mix {
        background-image:url(../img/icons/icMix.svg);
}  
.yes {
        background-image:url(../img/icons/icYes.svg);
}  
.zipper {
        background-image:url(../img/icons/icZipper.svg);
}  
.sheep {
        background-image:url(../img/icons/icSheep.svg);
}  
.thumb {
        background-image:url(../img/icons/icThumb.svg);
} 
.chin {
        background-image:url(../img/icons/icChin.svg);
}

.jump {
    background-image:url(../img/icons/icJump.svg);
}

/*Soundwall Card Words*/
.candy {
    background-image:url(../img/icons/icCandy.svg);
}
.teeth {
    background-image:url(../img/icons/icTeeth.svg);
}
.Eve {
    background-image:url(../img/icons/icEve.svg);
}
.yield {
    background-image:url(../img/icons/icYield.svg);
}
.cry {
    background-image:url(../img/icons/icCry.svg);
}
.thigh {
    background-image:url(../img/icons/icLeg.svg);
}
.type {
    background-image:url(../img/icons/icKeyboard.svg);
}
.cone {
    background-image:url(../img/icons/icCone.svg);
}
.boat {
    background-image:url(../img/icons/icBoat.svg);
}
.snow {
    background-image:url(../img/icons/icSnow.svg);
}
.cube {
    background-image:url(../img/icons/icCube.svg);
}
.few {
    background-image:url(../img/icons/icFew.svg);
}
.cue {
    background-image:url(../img/icons/icCue.svg);
}
.gym {
    background-image:url(../img/icons/icGym.svg);
}
.key {
    background-image:url(../img/icons/icKey.svg);
}
.head {
    background-image:url(../img/icons/icHead.svg);
}
.ape {
    background-image:url(../img/icons/icApe.svg);
}
.nail {
    background-image:url(../img/icons/icNail.svg);
}
.hay {
    background-image:url(../img/icons/icHay.svg);
}
.want {
    background-image:url(../img/icons/icTempt.svg);
}
.icicle {
    background-image:url(../img/icons/icIcicle.svg);
}
.dune {
    background-image:url(../img/icons/icDune.svg);
}
crew {
    background-image:url(../img/icons/icCrew.svg);
}
.glue {
    background-image:url(../img/icons/icGlue.svg);
}
.cow {
    background-image:url(../img/icons/icCow.svg);
}
.boy {
    background-image:url(../img/icons/icBabyBoy.svg);
}
.earth {
    background-image:url(../img/icons/icEarth.svg);
}
.burn {
    background-image:url(../img/icons/icBurn.svg);
}
.doctor {
    background-image:url(../img/icons/icDoctor.svg);
}
.fern {
    background-image:url(../img/icons/icFern.svg);
}
.calendar {
    background-image:url(../img/icons/icCalendar.svg);
}
.heart {
    background-image:url(../img/icons/icHeart.svg);
}
.door {
    background-image:url(../img/icons/icDoor.svg);
}
.core {
    background-image:url(../img/icons/icAppleLast.svg);
}
.oar {
    background-image:url(../img/icons/icOar.svg);
}
.four {
    background-image:url(../img/icons/icFourback.svg);
}
.bush {
    background-image:url(../img/icons/icBush.svg);
}
.should {
    background-image:url(../img/icons/icShould.svg);
}
.woman {
    background-image:url(../img/icons/icGirlAdult.svg);
}
.frozen {
    background-image:url(../img/icons/icPopsicle.svg);
}
.lemon {
    background-image:url(../img/icons/icLemon.svg);
}
.pencil {
    background-image:url(../img/icons/icPencil.svg);
}
.cactus {
    background-image:url(../img/icons/icCactus.svg);
}
.won {
    background-image:url(../img/icons/icFirst.svg);
}
.crew {
    background-image:url(../img/icons/icCrew.svg);
}
.ribbon {
    background-image:url(../img/icons/icRibbon.svg);
}
.sick {
    background-image:url(../img/icons/icSick.svg);
}
.ladder {
    background-image:url(../img/icons/icLadder.svg);
}
.dog {
    background-image:url(../img/icons/icDog.svg);
}
.muffin {
    background-image:url(../img/icons/icMuffin.svg);
}
.phone {
    background-image:url(../img/icons/icPhone.svg);
}
.juggle {
    background-image:url(../img/icons/icJuggle.svg);
}
.whole {
    background-image:url(../img/icons/icWhole.svg);
}
.gem {
    background-image:url(../img/icons/icGem.svg);
}
.bridge {
    background-image:url(../img/icons/icBridge.svg);
}
.bell {
    background-image:url(../img/icons/icBell.svg);
}
.summer {
    background-image:url(../img/icons/icBeach.svg);
}
.penny {
    background-image:url(../img/icons/icPenny.svg);
}
.bell {
    background-image:url(../img/icons/icBell.svg);
}
.pepper {
    background-image:url(../img/icons/icPepper.svg);
}
.bell {
    background-image:url(../img/icons/icBell.svg);
}
.berry {
    background-image:url(../img/icons/icStrawberry.svg);
}
.write {
    background-image:url(../img/icons/icNote.svg);
}
.city {
    background-image:url(../img/icons/icCity.svg);
}
.grass {
    background-image:url(../img/icons/icGrass.svg);
}
.otter {
    background-image:url(../img/icons/icOtter.svg);
}
.glove {
    background-image:url(../img/icons/icGloves.svg);
}
.whale {
    background-image:url(../img/icons/icWhale.svg);
}
.cheeks {
    background-image:url(../img/icons/icCheeks.svg);
}
.socks {
    background-image:url(../img/icons/icSocks.svg);
}
.phonics {
    background-image:url(../img/icons/icPhonemes2.svg);
}
.onion {
    background-image:url(../img/icons/icOnion.svg);
}
.busy {
    background-image:url(../img/icons/icTinkering.svg);
}
.puzzle {
    background-image:url(../img/icons/icPuzzle.svg);
}
.breathe {
    background-image:url(../img/icons/icBreathe.svg);
}
.lotion {
    background-image:url(../img/icons/icCream.svg);
}
.ocean {
    background-image:url(../img/icons/icOcean.svg);
}
.chef {
    background-image:url(../img/icons/icChef.svg);
}
.hatch {
    background-image:url(../img/icons/icNestEggsHatch.svg);
}
.nature {
    background-image:url(../img/icons/icFord.svg);
}
.question {
    background-image:url(../img/icons/icQuestion.svg);
}
.vison {
    background-image:url(../img/icons/icVison.svg);
}
.bank {
    background-image:url(../img/icons/icBank.svg);
}
.measure {
    background-image:url(../img/icons/icMeasure.svg);
}
.garage {
    background-image:url(../img/icons/icGarage.svg);
}
.launch {
    background-image:url(../img/icons/icLaunchpad.svg);
}
.saw {
    background-image:url(../img/icons/icSaw.svg);
}
.frog {
    background-image:url(../img/icons/icFrog.svg);
}
.chalk {
    background-image:url(../img/icons/icChalk.svg);
}
.ball {
    background-image:url(../img/icons/icBall.svg);
}
.equal {
    background-image:url(../img/icons/icEqual.svg);
}
.there {
    background-image:url(../img/icons/icThere.svg);
}
.ring {
    background-image:url(../img/icons/icRing.svg);
}
.vision {
    background-image:url(../img/icons/icOllie.svg);
}
.measure {
    background-image:url(../img/icons/icInch.svg);
}
.garage {
    background-image:url(../img/icons/icGarage.svg);
}
.bank {
    background-image:url(../img/icons/icBank.svg);
}
.kitten {
    background-image:url(../img/icons/icCat.svg);
}