body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'BodyText';
    font-size:1em;
}

#wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 36em;
    width: 36em;
    font-size: 1em;
    top: 2em;
}

#branding {
    position: absolute;
    bottom: .4em;
    width: 4em;
    height: 4em;
    right: 1em;
    display: none;
}

.dialog {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 3em;
    height: 3em;
    z-index: 1;
    font-size: 1.6em;
}



#selectKey {
    position: absolute;
    right: 0;
    left: 0;
    height: 4em;
    width: 100%;
    font-size:1em;
}

#selectKey select {
    position: absolute;
    top: .18em;
    left: 0.2em;
    height: 1.2em;
    width: 4em;
    appearance: none;
    -webkit-appearance: none;
    font-family: 'BodyText';
    border-radius: .2em;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    line-height: 1.1em;
    background-color: white;
    color: white;
    background-color: var(--ghostBlack40);
    border: solid .05em var(--ghostWhite40);
    cursor: pointer;
}

#selectKey option {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: .6em;
}



#trans {

    position: absolute;
    right: 2.8em;
    /*top: .78em;*/
    top: .2em;
    font-size: 1.4em;
    text-align: center;
    height: 1.14em;
    width: 1.8em;
    border-radius: .14em;
    line-height: 1.2em;
    color: white;
    text-align: center;

}

#selectKey h1 {
    position: absolute;
    top: 2.5em;
    color: white;
    font-size: .8em;
    line-height: 1em;
}

#selectKey h1.keyTxt {
    left: 1em;

}

#selectKey h1.transposeTxt {
    right: 1.2em;
    width: auto;
}

.tranBtn {
    position: absolute;
    top: .3em;
    right: 2.16em;
    background-color: var(--ghostBlack40);
    ;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    border-radius: .2em;
    border: solid .05em var(--ghostWhite40);
    background-image: url(../img/arrow.svg);
    background-size: 60% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.tranBtn:hover {
    border: solid .05em var(--ghostWhite80);
}

.tranBtn.up {
    right: 0.4em;

}

.tranBtn.down {
    transform: rotate(180deg);
}

.ring {
    position: absolute;
    top: -4em;
    left: 0;
    right: 0;
    transition: .5s all ease;
}

#numbers {
    background-size: 30% 30%;
    background-position: center center;
    background-repeat: no-repeat;
}

#progression {
    position: absolute;
    top: 28.4em;
    left: 3em;
    height: 11.4em;
    width: 30.6em;
}

#progression select {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    font-family: 'BodyText';
    border-radius: .2em;
    font-size: 1.2em;
    background-color: var(--ghostBlack40);
    color: white;
    width: 2.4em;
    cursor: pointer;
}

#progression option {
    font-size: .6em;
    background-color: var(--ghostBlack60);

}

#progression select.modSelect {
    font-size: .8em;
    position: absolute;
    left: 3.8em;
    top: -.4em;
    padding: 0em;
    height: 1.4em;
    width: 1.4em;
}

#selectProg1 {
    left: 0;
}

#selectProg2 {
    left: 5em;
}

#selectProg3 {
    left: 10em;
}

#selectProg4 {
    left: 15em;
}

#progression .chordChart {
    position: absolute;
    top: 1.8em;
    left: -.50em;
    height: 6em;
    width: 3em;
    border-radius: .4em;
    padding: .2em;

}