body {
/*Universal Colors*/
    --textBlack:#333333;
    --textWhite:#ffffff;  
    --ghostWhite20: rgba(255,255,255,.2);
    --ghostWhite40: rgba(255,255,255,.4);
    --ghostWhite60: rgba(255,255,255,.6);
    --ghostWhite80: rgba(255,255,255,.8);
    --ghostBlack20: rgba(0,0,0,.2);
    --ghostBlack40: rgba(0,0,0,.4);
    --ghostBlack60: rgba(0,0,0,.6);
    --ghostBlack80: rgba(0,0,0,.8);
}


